<!DOCTYPE html>
<html lang="en">

<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Backbone</title>
		<link rel="stylesheet" href="sandbox.css">
</head>

<body>
		<div id="sandbox">sandbox console loading...</div>

		<script type="text/template" id="tplSandbox">
				<pre class="output"></pre>
		<div class="input">
			<textarea rows="1" placeholder="<%= placeholder %>"></textarea>
		</div>
	</script>

		<script type="text/template" id="tplCommand"><% if (! _hidden) { %><span class="command"><%= command %></span>
<span class="prefix"><%= this.resultPrefix %></span><span class="<%= _class %>"><%= result %></span>
<% } %></script>

		<script src="lib.js"></script>
		<script src="sandbox.js"></script>

		<script type="text/javascript">
				$.when($(document).ready(function($) {
				
						window.sandbox = new Sandbox.View({
								el: $('#sandbox'),
								model: new Sandbox.Model({
										iframe: true,
										fallback: true
								})
						});
				})).then(function() {}).done(function() {});
		</script>
</body>

</html>